doctype html.js
html
 head
  title = title
  | <script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
  link(rel='stylesheet', href='/stylesheets/style.css')
 body
  #mainwrap
      header
        a(href="/") Coder Society
        #headerbox
      #top
        #logo
       nav
         a(href="about") About
         a(href="mission") Mission
         a(href="events") Events
         a(href="members") Members
       != body
       #upperleftbranch
        Coming Soon.. Coming Soon.. Coming Soon.. Coming Soon.. Coming Soon.. Coming Soon.. Coming Soon.. Coming Soon.. Coming Soon.. Coming Soon.. Coming Soon.. Coming Soon.. Coming Soon.. Coming Soon..
       #upperrightbranch
        Coming Soon.. Coming Soon.. Coming Soon.. Coming Soon.. Coming Soon.. Coming Soon.. Coming Soon.. Coming Soon.. Coming Soon.. Coming Soon.. Coming Soon.. Coming Soon..
       #low
       footer Them:&nbsp
          span 1.Brainstorm(maybe). 2.Vote(sort of). 3.Group. 4.Present.
          | &nbspUs: 1.Vote. 2.Group 3.Create.
          <script type="text/javascript">
  |   var _gaq = _gaq || [];
  |   _gaq.push(['_setAccount', 'UA-29592492-1']);
  |   _gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
