doctype html
html
 head
  title= title
  link(rel='stylesheet', href='/stylesheets/style.css')
 body
  #mainwrap
      #redbar
        h1 Coder Society
      #top
       header
        #logo
       nav
        a(href='#') Home
        a(href='#') Mission
        a(href='#') Events
        a(href='#') About
       != body
      #low
       footer
