doctype html
html
 head
  title = title
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/css/blitzer/jquery-ui-1.8.18.custom.css')
  | <script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
  | <script type="text/javascript" src="js/jquery-ui-1.8.18.custom.min.js"></script>
  | <script type="text/javascript">
  |			$(function(){
  |				$('#tabs').tabs();
  |			});
  | </script>
 body
  #mainwrap
      #redbar
        h1 Coder Society
      #top
       header
        #logo
       nav
         a(href="about") About
         a(href="mission") Mission
         a(href="events") Events
         a(href="members") Members
       != body
        #low
         footer Them:&nbsp
          span 1.Brainstorm(maybe). 2.Vote(sort of). 3.Group. 4.Present.
          | &nbspUs: 1.Vote. 2.Group 3.Create.